# Project exclude paths
.idea/
server/.idea/
server/eureka-server/target/
server/auth-service/target/
server/schema-service/target/
aws/.idea
client/.angular
client/node_modules
client/.vscode
server/carbon-service/target
server/greenpath-service/target
server/route-service/target
#server/carbon-service/src/test
#server/auth-service/src/test
#server/eureka-server/src/test
#server/greenpath-service/src/test
#server/notification-service/src/test
#server/route-service/src/test

